.message__wrapper {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.message__avatar_block {
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.message__avatar_img {
    width: 50px;
}

.message__window {
    display: inline-block;
    float: left;
    padding: 16px 60px 16px 24px;
    border-radius: 1em;
    border-left: 1px solid rgb(50, 49, 49);
    position: relative;
    line-height: 1.5em;
    width: 300px;
    background-color: rgb(50, 49, 49);
}
.message__window::before, .message__window::after {
    content:"";
    position:absolute;
    bottom:-2px;
    height:20px;
}
.message__window::before{
    z-index: -1;
    left:-7px;
    bottom: 0px;
    border-left:50px solid rgb(50, 49, 49);
    border-bottom-right-radius: 16px 14px;
}

.message__window::after {
    left:4px;
    width:26px;
    background:white;
    border-bottom-right-radius: 10px;
    transform:translate(-30px, -2px);
}

.message__name {
    color: #e881f1;
}

.message__text {
    color: white;
    word-wrap: break-word;
}

.message__time {
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 10px;
    bottom: 3px;
}