.spanClassName {

}

/* Custom Code Here */

.checkboxes {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 30px;
}
.check {
    display: flex;
    align-items: center;
}
.check input {
    display: none;
}
.check input:checked + label .box {
    -webkit-animation: animOnTransform 1s 1 forwards;
    animation: animOnTransform 1s 1 forwards;
    background: rgba(0, 0, 0, 0.5);
}
.check input:checked + label .box i {
    transform: translate(-50%, -50%) scale(1);
    transition-duration: 200ms;
    transition-delay: 400ms;
    opacity: 1;
}
.check label {
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 30px;
    cursor: pointer;
}
.check label .box {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: relative;
    width: 30px;
    height: 30px;
    transition: background 300ms ease;
}
.check label .box:hover {
    background: rgba(0, 0, 0, 0.5);
}
.check label .box i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    font-weight: bold;
    line-height: 0;
    display: inline-block;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    transition-delay: 200ms;
    transform: translate(-50%, -50%) scale(4);
}

@-webkit-keyframes animOn {
    40% {
        height: 20px;
        width: 100px;
    }
    50% {
        height: 60px;
        width: 30px;
    }
    60% {
        height: 40px;
        width: 70px;
    }
    70% {
        height: 55px;
        width: 45px;
    }
    100% {
        height: 50px;
        width: 50px;
    }
}

@keyframes animOn {
    40% {
        height: 20px;
        width: 100px;
    }
    50% {
        height: 60px;
        width: 30px;
    }
    60% {
        height: 40px;
        width: 70px;
    }
    70% {
        height: 55px;
        width: 45px;
    }
    100% {
        height: 50px;
        width: 50px;
    }
}
@-webkit-keyframes animOnTransform {
    40% {
        transform: scale(1.5, 0.5);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    60% {
        transform: scale(1.3, 0.6);
    }
    70% {
        transform: scale(0.8, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes animOnTransform {
    40% {
        transform: scale(1.5, 0.5);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    60% {
        transform: scale(1.3, 0.6);
    }
    70% {
        transform: scale(0.8, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}
/* end of custom code */